{% extends 'home.html' %}
{% load static %}
{% block content %}
<script>
    function display(da) {
        Highcharts.chart('container1', {
            title: {
                text: da.loc + '의 건강관련요인 정보'
            },
            subtitle: {
                text: 'Source: 질병관리청 - 지역사회건강조사'
            },
            yAxis: {
                title: {
                    text: '표준화율'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2008
                }
            },
            series: da.data,
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    };


    function mapDisplay(da) {
        var positions = new Array();      // 수정 1. 반복문으로 positions를 만들기
        var iwContent = new Array();      // 수정 2. 인포윈도우 내용을 iwContent에 모으기

        $.each(da, function(i, v) {
            var aJson = new Object();
            aJson.title = v.title
            aJson.latlng = new kakao.maps.LatLng(v.lat, v.lng)
            positions.push(aJson)

            iwContent[i] = v.content
        })

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i ++) {
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                position: positions[i].latlng, // 마커를 표시할 위치
                image : markerImage // 마커 이미지
            });

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent[i],
                position : positions[i].latlng
                });

            // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
            infowindow.open(map, marker);
        }
    };


    function getData(pr, fx) {
        $.ajax({
            url: 'chart2s',
            data: {param: pr, fx: fx},
            type: 'get',
            datatype: 'json',
            success: function(data) {
                if (data.fx == 1) {
                    display(data);
                } else {
                    mapDisplay(data);
                }

            }
        });
    };


    $(document).ready(function() {
        $('button:eq(0)').click(function() {
            loc = $('select').val();
            getData(loc, 1);
        });
        $('button:eq(1)').click(function() {
            year = $('input[type="range"]').val();
            getData(year, 2);
        });
    });
</script>

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>지역별 건강 관련 요인 정보</h4>
                                                        <span>• 지역을 선택하면 아래에서 건강관련요인 정보를 확인할 수 있습니다.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <select class="form-control form-control-info">
                                                    <option value="서울특별시">서울특별시</option>
                                                    <option value="부산광역시">부산광역시</option>
                                                    <option value="대구광역시">대구광역시</option>
                                                    <option value="인천광역시">인천광역시</option>
                                                    <option value="광주광역시">광주광역시</option>
                                                    <option value="대전광역시">대전광역시</option>
                                                    <option value="울산광역시">울산광역시</option>
                                                    <option value="세종특별자치시">세종특별자치시</option>
                                                    <option value="경기도">경기도</option>
                                                    <option value="강원도">강원도</option>
                                                    <option value="충청북도">충청북도</option>
                                                    <option value="충청남도">충청남도</option>
                                                    <option value="전라북도">전라북도</option>
                                                    <option value="전라남도">전라남도</option>
                                                    <option value="경상북도">경상북도</option>
                                                    <option value="경상남도">경상남도</option>
                                                    <option value="제주특별자치도">제주특별자치도</option>
                                                </select>
                                            </div>
                                            <div>&emsp;</div> <!--selection과 버튼 사이 공간주기 위해서-->
                                            <div>
                                                <button class="btn btn-info btn-round">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <div class="page-body">
                                        <div class="row">
                                            <!-- EXTRA AREA CHART start -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Line chart</h5>
                                                        <span>• 2008~2019년 삶의 질 지수, 양호한 주관적 건강수준 인지율, 스트레스 인지율, 우울감 경험률, 주관적 구강건강이 나쁜 인구의 분율, 연간 보건기관 이용률 확인<br>
                                                              • 2008년의 연간 보건기관 이용률은 측정되지 않아서 0으로 표시됨</span>
                                                        <div class="card-header-right">
                                                    </div>
                                                    <div class="card-block">
                                                        <div id="container1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- EXTRA AREA CHART Ends -->
                                            <!-- Info-color Breadcrumb card start -->
                                            <div class="card borderless-card" style="background-color:#3D9CDD; color:#fff;">
                                                <div class="card-block">
                                                    <div class="breadcrumb-header">
                                                        <h5>지도에서 확인하는 각 지역의 건강지표</h5>
                                                        <span>슬라이더에서 연도를 선택하면 지역별 모든 건강요인 지표를 볼 수 있습니다.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Info-color Breadcrumb card end -->
                                            <!-- MAP CHART Starts -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Map</h5>
                                                        <span>• 위도, 경도 정보를 이용하여 카카오맵 API에 시도별 건강지표를 표시 &emsp; &emsp; &emsp; &emsp;2008년 <input type="range" min="2008" max="2019"> 2019년 &emsp; &emsp; <button class="btn btn-info btn-round">Search</button><br>
                                                              • 더블 클릭으로 지도를 확대하여 더 자세히 확인 가능</span>
                                                    </div>
                                                    <div class="card-block">
    <!------------------------------------------- Kakao Map Api Starts---------------------------------------------------------------------------------->
                                                        <div id="map" style="width:100%; height:600px;"></div>
                                                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9bc86d56cd2699acaa4b709fe9368c9b"></script>
                                                        <script>
                                                            var container = document.getElementById('map');
                                                            var options = {
                                                                center: new kakao.maps.LatLng(36, 128),  // 중심좌표
                                                                level: 13    // 확대 레벨
                                                            };

                                                            var map = new kakao.maps.Map(container, options);

                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- MAP CHART Ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>
<!-- Morris Chart js -->
<script src="{% static 'assets/js/raphael/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.js/morris.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'assets/pages/chart/morris/morris-custom-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</body>

</html>
{% endblock %}