{% extends 'home.html' %}
{% load static %}
{% block content %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>연도별 행복지수 간의 연관성과 변화 추이</h4>
                                                        <span>차트 설명....</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <div class="page-body">
                                        <!-- Chart1 starts -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Tab variant tab card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Animated Bubble Chart 1</h5>
                                                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                                    </div>
                                                    <div class="card-block tab-icon">
                                                        <!-- Row start -->
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xl-6">
                                                                <!-- <h6 class="sub-title">Tab With Icon</h6> -->
                                                                <div class="sub-title">스트레스와 우울증의 관계</div>
                                                                <!-- Tab panes -->
                                                                <div class="card-block">
                                                                    <div class="tab-pane active" id="home7" role="tabpanel">
                                                                        <p class="m-0">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-xl-6 tab-with-img">
                                                                <div class="sub-title">Bubble Chart</div>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content card-block">
                                                                    <div class="tab-pane active" id="home8" role="tabpanel">
                                                                        <img src="{% static 'assets/images/stress_depression.gif' %}" style="width:430px; height:430px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Row end -->
                                                    </div>
                                                </div>
                                                <!-- Tab variant tab card start -->
                                            </div>
                                        </div>
                                        <!-- Chart1 ends -->
                                        <!-- Chart2 starts -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Tab variant tab card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Animated Scatter Chart 2</h5>
                                                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                                    </div>
                                                    <div class="card-block tab-icon">
                                                        <!-- Row start -->
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xl-6">
                                                                <!-- <h6 class="sub-title">Tab With Icon</h6> -->
                                                                <div class="sub-title">주관적 건강 인식 정도와 보건기관 이용률의 관계</div>
                                                                <!-- Tab panes -->
                                                                <div class="card-block">
                                                                    <div class="tab-pane active" id="home7" role="tabpanel">
                                                                        <p class="m-0">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-xl-6 tab-with-img">
                                                                <div class="sub-title">Bubble chart</div>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content card-block">
                                                                    <div class="tab-pane active" id="home8" role="tabpanel">
                                                                        <img src="{% static 'assets/images/healthy_clinic.gif' %}" style="width:400px; height:400px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Row end -->
                                                    </div>
                                                </div>
                                                <!-- Tab variant tab card start -->
                                            </div>
                                        </div>
                                        <!-- Chart2 ends -->
                                        <!-- Chart3 starts -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Tab variant tab card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Animated Scatter Chart 3</h5>
                                                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                                    </div>
                                                    <div class="card-block tab-icon">
                                                        <!-- Row start -->
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xl-6">
                                                                <!-- <h6 class="sub-title">Tab With Icon</h6> -->
                                                                <div class="sub-title">스트레스와 삶의 질의 관계</div>
                                                                <!-- Tab panes -->
                                                                <div class="card-block">
                                                                    <div class="tab-pane active" id="home7" role="tabpanel">
                                                                        <p class="m-0">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-xl-6 tab-with-img">
                                                                <div class="sub-title">Bubble Chart</div>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content card-block">
                                                                    <div class="tab-pane active" id="home8" role="tabpanel">
                                                                        <img src="{% static 'assets/images/stress_qol.gif' %}" style="width:430px; height:430px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Row end -->
                                                    </div>
                                                </div>
                                                <!-- Tab variant tab card start -->
                                            </div>
                                        </div>
                                        <!-- Chart3 ends -->

                                            <!-- EXTRA AREA CHART Ends -->
<!--                                            &lt;!&ndash; Area Chart start &ndash;&gt;-->
<!--                                            <div class="col-lg-12">-->
<!--                                                <div class="card">-->
<!--                                                    <div class="card-header">-->
<!--                                                        <h5>Area chart</h5>-->
<!--                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>-->
<!--                                                        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="card-block">-->
<!--                                                        <div id="area-example"></div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; Area Chart Ends &ndash;&gt;-->
<!--                                            &lt;!&ndash; LINE CHART start &ndash;&gt;-->
<!--                                            <div class="col-md-12 col-lg-6">-->
<!--                                                <div class="card">-->
<!--                                                    <div class="card-header">-->
<!--                                                        <h5>Line chart</h5>-->
<!--                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="card-block">-->
<!--                                                        <div id="line-example"></div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; LINE CHART Ends &ndash;&gt;-->
<!--                                            &lt;!&ndash; Donut chart start &ndash;&gt;-->
<!--                                            <div class="col-md-12 col-lg-6">-->
<!--                                                <div class="card">-->
<!--                                                    <div class="card-header">-->
<!--                                                        <h5>Donut chart</h5>-->
<!--                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>-->
<!--                                                        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="card-block">-->
<!--                                                        <div id="donut-example"></div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; Donut chart Ends &ndash;&gt;-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>
<!-- Morris Chart js -->
<script src="{% static 'assets/js/raphael/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.js/morris.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'assets/pages/chart/morris/morris-custom-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</body>

</html>
{% endblock %}