{% extends 'home.html' %}
{% load static %}
{% block content %}

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont icofont icofont-file-document bg-c-pink"></i>
                                                    <div class="d-inline">
                                                        <h4>분석 방법</h4>
                                                        <span>사용한 데이터셋, 분석 방향, 전처리 방법 등을 설명합니다.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>How To Preprocess and Analyze Data</h5>
                                                        <span>Explanation on the planning of machine learning</span>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option" style="width: 35px;">
                                                                <li class=""><i class="icofont icofont-simple-left"></i></li>
                                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                                <li><i class="icofont icofont-error close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block" style="font-family:'MaruBuri-Regular';">
                                                    <!--Typography list Starts-->
                                                         <div class="col-sm-12">
                                                             <h5>1. Linear Regression & Polynomial Regression</h5><br>
                                                                 <dl class="dl-horizontal row">
                                                                    <dd class="col-sm-12 col-sm-offset-3">수질 데이터의 몇가지 물질 농도와 건강지표의 관련성을 보기 위해서 Multiple Linear Regression을 진행하고자 하였습니다. 이를 위해서 수질 데이터 분석과 건강지표 데이터 분석을 위해
                                                                        이미 전처리를 마친 데이터 프레임 2개를 병합하였고, 회귀 분석에 사용할 항목을 선정하기 위해 먼저 Pearson Correlation으로 상관계수를 확인하였습니다.
                                                                        이 중 상관계수가 큰 몇가지 수질 데이터 항목과 건강지표를 조합하여 먼저 다중 회귀 분석을 진행하였습니다.
                                                                        MLR 모델 이후에는 Polynomial Regression을 진행하여 예측 결과가 더 개선되는지 확인하였습니다<br><br>
                                                                    <dt class="col-sm-2">데이터셋</dt>
                                                                    <dd class="col-sm-10">환경부 K-water 국가상수도정보시스템 상수도 정보 > 먹는물 수질검사자료(정수) 2008년~2019년 12개년 자료<br>
                                                                                          질병관리청 지역사회 건강조사 - 지역사회 건강관리 요인 데이터베이스 2008년~2019년 12개년 자료</dd>
                                                                    <dt class="col-sm-2">데이터 형태</dt>
                                                                    <dd class="col-sm-10">xlsx 다운로드 파일</dd>
                                                                    <dt class="col-sm-2">데이터 전처리</dt>
                                                                    <dd class="col-sm-10">
                                                                    지역별 수돗물 수질 차트와 지역별 건강지표 차트 분석을 위해 전처리한 두개의 데이터 프레임을 연도와 지역을 기준으로 병합
                                                                    </dd>
                                                                    <dt class="col-sm-2">분석 라이브러리</dt>
                                                                    <dd class="col-sm-10">Pandas, Numpy, Scikit-Learn, Scipy</dd>
                                                                    <dt class="col-sm-2">시각화 라이브러리</dt>
                                                                    <dd class="col-sm-10">Matplotlib</dd>
                                                                    <br><br><br>
                                                                 </dl>
                                                            </div>
                                                        <!--Typography Ends-->
                                                        <!--Typography list Starts-->
                                                            <div class="col-sm-12">
                                                                 <h5>2. Logistic Regression & K-means Clustering</h5><br>
                                                                    <dl class="dl-horizontal row">
                                                                    <dd class="col-sm-12 col-sm-offset-3">앞선 회귀 분석에서 가장 괜찮은 예측 결과가 나온 <b>스트레스 인지율</b>과 <b>우울감 경험률</b>을 카테고리화 하여 Logistic Regression 분류를 진행하여 예측 결과가 개선되는지 확인하고자 하였습니다.
                                                                                                          Clustering을 이용하여 데이터를 전처리 한 후 Logistic Regression을 적용하는 경우 그 값이 약간 개선될 수 있기 때문에, 앞선 단계에서 가장 좋은 결과를 낸 조합에 적용하여 분류 예측 결과가 개선되는지 확인하였습니다.
                                                                                                          사용하는 데이터셋은 앞선 회귀분석에서 사용된 것과 동일한 데이터셋을 사용하였습니다.<br><br>
                                                                    <dt class="col-sm-2">데이터셋</dt>
                                                                    <dd class="col-sm-10">위와 동일</dd>
                                                                    <dt class="col-sm-2">데이터 전처리</dt>
                                                                    <dd class="col-sm-10">위와 동일</dd>
                                                                    <dt class="col-sm-2">분석 라이브러리</dt>
                                                                    <dd class="col-sm-10">Pandas, Scikit-Learn</dd>
                                                                    <dt class="col-sm-2">시각화 라이브러리</dt>
                                                                    <dd class="col-sm-10">Matplotlib</dd>
                                                                    <br><br><br>
                                                                 </dl>
                                                            </div>
                                                        <!--Typography Ends-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</body>

</html>
{% endblock %}