{% extends 'home.html' %}
{% load static %}
{% block content %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-idea bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>프로젝트를 마치며</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <div class="page-body">
                                        <div class="row">
                                            <!-- Area Chart start -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Project Review</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div id="area-example" style="font-family:'MaruBuri-Regular';">
                                                            <h5>아쉬운 점</h5><br>
                                                            <b><u>데이터 선택</u></b><br>
                                                            &emsp;수질 데이터를 가지고 의미있는 결과를 확인하고자 하여 건강관련요인 데이터와 연결시켜 분석하였습니다. 그러나 수돗물 수질은 검사항목에 대해 엄격하게 관리되고 있기 때문에
                                                            그 농도가 건강에 크게 영향을 미치지 않을 수 있습니다. 또한 형태가 크게 다른 수질 데이터와 건강관련요인 데이터를 병합하기 위해 같은 형태로 만들면서, 1년에 약 6000개 되는 수질 데이터가
                                                            시도별 데이터 17개로 크기가 크게 축소되면서 다양한 데이터값들이 제대로 반영되지 않았을 것이라고 생각합니다.<br>
                                                            &emsp;엮은 두 가지 데이터가 같은 목적을 위해 만들어진 것이 아닌 별개의 데이터셋이기 때문에 (건강관련요인 데이터의 경우) 원하는 방향대로 측정된 데이터가 아닌 부분이 있어서 아쉬웠습니다.<br><br><br>
                                                            <b><u>분석항목 선택</u></b><br>
                                                            &emsp;수질 데이터 항목은 월단위로 측정된 값의 1년치 평균인데 반해, 스트레스 인지율 같은 건강지표 항목은 1년에 한번 특정시기에 조사된 값으로 1년 전체를 대변하는 값이 아니기 때문에, 실제 수질과 연관성과 관계없이
                                                            좋은 선택은 아니었다고 생각합니다. 또한 건강지표 항목들이 수질 외에도 다양한 환경의 영향을 받을 수 있는 부분이라 수질 항목 만으로는 설명하기 어려운 부분이 있습니다.<br>
                                                           &emsp; 반면, 연관 보건기관 이용률은 다른 항목들보다 연관성이 높을 수 있을 것이라 생각하였는데 큰 상관관계를 찾을 수 없어서 아쉬웠습니다.<br><br><br>
                                                            <b><u>추가 데이터 분석 결과</u></b><br>
                                                            &emsp;이 프로젝트에 실리지 않았지만 추가적으로 <b>알루미늄 - 인지장애 경험률, 대기오염물질/미세먼지 - 만성폐쇄성폐질환(COPD)의 예방가능 입원률</b>의 관계를 분석하였습니다. 앞선 예측항목들이 개연성이 낮은 부분이 있었기 때문에 명확하게 인과관계가 있는 데이터로 분석결과를 확인하고자 이 항목들을 선정하였습니다.
                                                            이에 사용된 항목들은 기존 데이터셋에 포함되어 있었습니다. 우선, <b>실제 병인으로서 연관성이 있는 알루미늄과 인지장애 경험률의 상관관계</b>가 매우 낮게 나왔는데(Pearson 상관계수 0.017, p-value=0.93), 이는 인지장애 발생률을 50대 이상에서 조사해서 연령요인이 있을 수 있다는 점과
                                                            2018, 2019년 데이터(총 32개)만 있다는 점을 감안하고도 매우 낮은 수치였습니다<br><br>
                                                            &emsp;다음으로 대기오염물질(이산화황, 이산화질소, 일산화탄소, 미세먼지PM10, 미세먼지PM25)과 COPD에 대한 2018년 시군구 데이터(총 96개)를 선형 회귀분석한 결과 R-squared = -0.13이었고, <b>직접적인 원인인 미세먼지</b>만으로 예측한 R-squared = -0.076이었습니다.
                                                            이는 예상한 것과 달리 인과관계가 있어도 예측도가 매우 떨어지는 결과입니다. 물론 데이터의 한계점도 있습니다. 엄밀히 말하자면 여기서 COPD값은 '예방가능 입원률'로 입원환자만의 비율을 조사한 것이고, COPD가 만성질환이라 당해년도의
                                                            오염물질 농도에만 영향받지 않는다는 점입니다. 추후 제대로 된 데이터셋을 선정하여 확인을 해보고자 합니다.
                                                            <br><br><br><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Area Chart Ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>
<!-- Morris Chart js -->
<script src="{% static 'assets/js/raphael/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.js/morris.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'assets/pages/chart/morris/morris-custom-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</body>

</html>
{% endblock %}