{% extends 'home.html' %}
{% load static %}
{% block content %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-idea bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>프로젝트를 마치며</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <div class="page-body">
                                        <div class="row">
                                            <!-- Area Chart start -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Project Review</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div id="area-example" style="font-family:'MaruBuri-Regular';">
                                                            <h5>아쉬운 점</h5><br>
                                                            <b><u>데이터 선택</u></b><br>
                                                            수질 데이터를 가지고 의미있는 결과를 확인하고자 하여 건강관련요인 데이터와 연결시켜 분석하였습니다. 그러나 수돗물 수질은 검사항목에 대해 엄격하게 관리되고 있기 때문에
                                                            그 농도가 건강에 크게 영향을 미치지 않을 수 있습니다. 또한 형태가 크게 다른 수질 데이터와 건강관련요인 데이터를 병합하기 위해 같은 형태로 만들면서, 1년에 약 6000개 되는 수질 데이터가
                                                            시도별 데이터 17개로 크기가 크게 축소되면서 다양한 데이터값들이 제대로 반영되지 않았을 것이라고 생각합니다.<br><br>
                                                            <b><u>분석항목 선택</u></b><br>
                                                            수질 데이터 항목은 월단위로 측정된 값의 1년치 평균인데 반해, 스트레스 인지율 같은 건강지표 항목은 1년에 한번 특정시기에 조사된 값으로 1년 전체를 대변하는 값이 아니기 때문에, 실제 수질과 연관성과 관계없이
                                                            좋은 선택은 아니었다고 생각합니다. 또한 건강지표 항목들이 수질 외에도 다양한 환경의 영향을 받을 수 있는 부분이라 수질 항목 만으로는 설명하기 어려운 부분이 있습니다.<br>
                                                            반면, 연관 보건기관 이용률은 다른 항목들보다 연관성이 높을 수 있을 것이라 생각하였는데 큰 상관관계를 찾을 수 없어서 아쉬웠습니다.
                                                            <br><br><br><br>
                                                            <h5>개선 사항</h5>
                                                            수질 데이터와 건강지표의 상관관계가 약하기 때문에..
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Area Chart Ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>
<!-- Morris Chart js -->
<script src="{% static 'assets/js/raphael/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.js/morris.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'assets/pages/chart/morris/morris-custom-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</body>

</html>
{% endblock %}